{% load static %}
<!-- favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.png'%}">


<!-- third party css -->
<link href="{% static 'css/vendor/jquery-jvectormap-1.2.2.css'%}" rel="stylesheet" type="text/css"/>
<!-- third party css end -->

<!-- Required css -->
<link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/fontawesome.all.min.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}" type="text/css">

<!-- Place favicon.ico in the root directory -->


<!-- Plugins css -->
<link rel="stylesheet" href="{% static 'css/plugins.css'%}" type="text/css">

<!-- Theme Style -->
<link rel="stylesheet" href="{% static 'css/style2.css'%}" type="text/css">