{% extends 'base.html'%}
{% load static %}
{% block title %} 首页 {%endblock%}

{% block content %}
<div class="content">
    {% include 'header.html'%}
    <!-- ================================================================== -->
    <!-- ===============    Top bar header content end  ================= -->
    <!-- ================================================================== -->


</div>

<div class="site-content">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Main Wrapper
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="main-wrapper ptb-80 style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <!--~~~~~ Start Site Main ~~~~~-->
                    <main class="site-main">
                        <div class="row">

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post" style="margin-top:20px">
                                <article class="post hentry post-list">

                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">Django建站第1天</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <p>
                                                    <img class="avatar photo" src="{% static 'images/author/1.jpg'%}"
                                                         alt="author">
                                                    创建网站模板样式，设定博客展示样式
                                                </p>


                                            </div><!--./ entry-meta-author -->
                                            <div class="row">
                                                <div class="entry-author-name" style="margin-left:20px">
                                                    <a href="#">西木</a>
                                                </div>
                                                <div class="entry-date" style="margin-left:20px">
                                                    <span>2022年4月13号</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views" style="margin-left:20px">
                                                    <span>0 阅读</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category" style="margin-left:20px">
                                                    <a class="cat" href="#">Python</a>
                                                </div><!--./ entry-category -->
                                            </div>
                                        </div><!--./ entry-meta-content -->

                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post" style="margin-top:20px">
                                <article class="post hentry post-list">

                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">This gun is advertised as the most
                                                    popular gun in American crime</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <p>
                                                    <img class="avatar photo" src="{% static 'images/author/1.jpg'%}"
                                                         alt="author">
                                                    Sitting on a working-class comme dows of an easy above-ground
                                                    rail line,
                                                    a group cal led Make the Road New York's busy street-level
                                                    offices are
                                                    easy to miss. But its mission to support
                                                </p>


                                            </div><!--./ entry-meta-author -->
                                            <div class="row">
                                                <div class="entry-author-name" style="margin-left:20px">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                                <div class="entry-date" style="margin-left:20px">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views" style="margin-left:20px">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category" style="margin-left:20px">
                                                    <a class="cat" href="#">LifeStyle</a>
                                                </div><!--./ entry-category -->
                                            </div>
                                        </div><!--./ entry-meta-content -->

                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post" style="margin-top:20px">
                                <article class="post hentry post-list">

                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="#">This gun is advertised as the most
                                                    popular gun in American crime</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <p>
                                                    <img class="avatar photo" src="{% static 'images/author/1.jpg'%}"
                                                         alt="author">
                                                    Sitting on a working-class comme dows of an easy above-ground
                                                    rail line,
                                                    a group cal led Make the Road New York's busy street-level
                                                    offices are
                                                    easy to miss. But its mission to support
                                                </p>


                                            </div><!--./ entry-meta-author -->
                                            <div class="row">
                                                <div class="entry-author-name" style="margin-left:20px">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                                <div class="entry-date" style="margin-left:20px">
                                                    <span>October 24, 2019</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-views" style="margin-left:20px">
                                                    <span>3 Min Read</span>
                                                </div><!--./ entry-date -->
                                                <div class="entry-category" style="margin-left:20px">
                                                    <a class="cat" href="#">LifeStyle</a>
                                                </div><!--./ entry-category -->
                                            </div>
                                        </div><!--./ entry-meta-content -->

                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/4.jpg" alt="post">
                                            </a>
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">This gun is advertised as the most
                                                    popular gun in American crime</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div><!--./ entry-summary -->
                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/5.jpg" alt="post">
                                            </a>
                                            <div class="featured-badge-list">
                                                <a class="trending" href="#">
                                                    <span class="fab fa-gripfire"></span>
                                                </a>
                                            </div><!--./ featured-badge-list -->
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">The rumored iPhone could come in hot
                                                    pink, not rose gold and silver</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div>
                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/6.jpg" alt="post">
                                            </a>
                                            <div class="featured-badge-list">
                                                <a class="featured" href="#">
                                                    <span class="fa fa-bolt"></span>
                                                </a>
                                            </div><!--./ featured-badge-list -->
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">How to live with some vegeterian when
                                                    you eat barbecue meat</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div>
                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/7.jpg" alt="post">
                                            </a>
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">This gun is advertised as the most
                                                    popular gun in American crime</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div>
                                    </div><!--./ content-entry-wrap -->
                                </article><!--~./ end post ~-->
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/4.jpg" alt="post">
                                            </a>
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">This gun is advertised as the most
                                                    popular gun in American crime</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div><!--./ entry-summary -->
                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/5.jpg" alt="post">
                                            </a>
                                            <div class="featured-badge-list">
                                                <a class="trending" href="#">
                                                    <span class="fab fa-gripfire"></span>
                                                </a>
                                            </div><!--./ featured-badge-list -->
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">The rumored iPhone could come in hot
                                                    pink, not rose gold and silver</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div>
                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/6.jpg" alt="post">
                                            </a>
                                            <div class="featured-badge-list">
                                                <a class="featured" href="#">
                                                    <span class="fa fa-bolt"></span>
                                                </a>
                                            </div><!--./ featured-badge-list -->
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">How to live with some vegeterian when
                                                    you eat barbecue meat</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div>
                                    </div><!--./ content-entry-wrap -->
                                </article>
                            </div><!--~./ end post ~-->

                            <!--~~~~~ Start Post ~~~~~-->
                            <div class="col-12 load-post">
                                <article class="post hentry post-list">
                                    <div class="entry-thumb">
                                        <figure class="thumb-wrap">
                                            <a href="post-details-two.html">
                                                <img src="assets/images/post/list/1/7.jpg" alt="post">
                                            </a>
                                        </figure><!--./ thumb-wrap -->
                                    </div><!--./ entry-thumb -->
                                    <div class="content-entry-wrap">
                                        <div class="entry-content">
                                            <h3 class="entry-title">
                                                <a href="post-details-two.html">This gun is advertised as the most
                                                    popular gun in American crime</a>
                                            </h3><!--./ entry-title -->
                                        </div><!--./ entry-content -->
                                        <div class="entry-meta-content">
                                            <div class="entry-meta-author">
                                                <div class="entry-author-thumb">
                                                    <img class="avatar photo" src="assets/images/author/1.jpg"
                                                         alt="author">
                                                </div>
                                                <div class="entry-author-name">
                                                    <a href="#">Ahmed Arafa</a>
                                                </div>
                                            </div><!--./ entry-meta-author -->
                                            <div class="entry-date">
                                                <span>October 24, 2019</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-views">
                                                <span>3 Min Read</span>
                                            </div><!--./ entry-date -->
                                            <div class="entry-category">
                                                <a class="cat" href="#">LifeStyle</a>
                                            </div><!--./ entry-category -->
                                        </div><!--./ entry-meta-content -->
                                        <div class="entry-summary">
                                            <p>Sitting on a working-class comme dows of an easy above-ground rail line,
                                                a group cal led Make the Road New York's busy street-level offices are
                                                easy to miss. But its mission to support</p>
                                        </div>
                                    </div><!--./ content-entry-wrap -->
                                </article><!--~./ end post ~-->
                            </div><!--~./ end post ~-->
                        </div>
                    </main>
                    <!--~./ end site main ~-->

                    <!--~~~~~ Load More Area ~~~~~-->

                    <!--~~~~~ Start sidebar ~~~~~-->
                </div>
            </div>
        </div><!--~./ end main wrapper ~-->
    </div>
</div>
<!-- End site content -->
{% endblock %}